node_modules/*
cmd/palette_hub/days
cmd/palette_hub/days_backup
cmd/palette_hub/palettes
build/windows/vcvars64.err
data/recordings/*
binaries/tcltk90/*
data/logs
data_default/logs
data_default/logs/*
data_cloud/logs
data_cloud/logs/*
default.bidule.previous
_Current.json
.vs
.vscode
.vscode/*
_Current_*.json
CurrentSnapshot.*
CurrentQuad.*
last.kp
*.pyc
*.suo
default/logs/*.log
default/logs/*.stderr
default/logs/*.stdout
default/config/CurrentPad_*
default/config/client_secret_*
python/dist
build/windows/ship
ffgl/build/windows/x64
ffgl/build/windows/.vs
ffgl/binaries
ffgl/source/lib/oldpthreads
windows/ship
mmtt_kinect_old
params/gentle/snap/CurrentSnapshot.*
# Binaries for programs and plugins
build/windows/.vs
mmtt_kinect/build/windows/.oldvs
mmtt_kinect/build/windows/.vs
mmtt_kinect/build/windows/mmtt_kinect/Release
mmtt_kinect/build/windows/mmtt_kinect/Debug
mmtt_kinect/build/windows/ManifoldLib/Release
mmtt_kinect/build/windows/ManifoldLib/Debug
source/windows/.vs
source/windows/x64
badffgl
binaries_save_good
gui/build
*.ipch
__debug_bin
config_orig
snap_save_all
snap_other
oldpatches
snap_hmmm
snap_save_feb_2020
*.swp
*.exe~
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~
debug
python/build
logs/palette.log
*.pyc
scripts/build
scripts/dist
*.spec
ship/palette_win
default/presets_old
cmd/palette_engine/__debug_bin.exe
cmd/palette/__debug_bin.exe
cmd/kit/kit.exe
kit/y.output
kit/gram.go
_Current.json


nats/serversetupcontext
cmd/palette_hub/palette_hub
webui-screenshot.png
package-lock.json
package.json
cmd/palette_engine/palette_engine.exe
cmd/palette_hub/palette_hub.exe
cmd/palette/palette
cmd/palette_natsmon/palette_natsmon
.claude/settings.local.json
cmd/palette_hub/palette_hub.exe
cmd/palette_hub/palette_hub.exe
cmd/palette_hub/palette_hub.exe
.claude/settings.local.json
.claude/settings.local.json
